<h4 style="margin-top: 15px">{{ album }}</h4>

<h5>Detalles de album</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="countryInput">País</label>
       <input class="u-full-width" id="country" type="text" value="{{ country }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="foundedInput">Lanzamiento</label>
       <input class="u-full-width" id="release" type="text" value="{{ release }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="genereInput">Genero</label>
       <input class="u-full-width" id="genre" type="text" value="{{ genre }}"  readonly/>
    </div>
  </div>
</form>

<h5>Canciones</h5>
<ul>
{{#songs}}
  <li><a href="/songById/?id={{song_id}}">{{title}}</li>
{{/songs}}
</ul>
